/* font for body of the page */
body{
    font-family: 'Lora', serif;
    background-color: #fafafa;
}

/* nav bar css */

nav{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.menu-items>ul{
    display: flex;
    
}
.menu-items>ul>li{
    list-style: none;
    margin-right: 42px;
    text-decoration: none;
 
}
.menu-items>ul>li>a{
    text-decoration: none;
    color: black;
}

.menu-items>ul>li:hover{
    background-color: sandybrown;
    border-radius: 5px;
    
}
/* nav bar css */



.First-sec{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
}

.First-sec-text{
    margin-right: 150px;
}

.First-sec-text h1{
    font-size: 50px;
}

.first-sec-button{
    font-family: 'Lora', serif;
    font-size: 15px;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: sandybrown;
    border-style: none;
}

.First-sec-img{
    background-image: url(images/Circle\ design.svg);
    background-size: 415px 415px;
    background-repeat: no-repeat;
    width: 50%;
    
}

.First-sec-img img{
    transition: transform 1s ease-in-out;

}

.First-sec-img:hover img{
    transform: scale(1.2, 1.2);
    
}

.Second-sec{
    margin-top: 100px;
}

hr{    
    border: 1px solid #ebeaea;
    margin-top: 50px;
    
}

.logos{
    margin-top: 25px;
    margin-bottom: -25px;
    

}

.logos img{
    margin-left: 160px;
    margin-right: -5px;
    justify-content: center;
    align-items: center;
}



.Third-sec{
    display: grid;
    margin-bottom: 100px;
    
}

.Third-sec h3{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.Third-sec h4{
    font-size: 20px;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-left: 240px;
}

.items .item .price{
    font-size: 20px;
}

.item{
    width: 325px;
    height: 470px;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 2px #ececec;
}
.rating i{
    color: orange;
}
.rating-txt{
    margin-left: 5px;
}
.ext-link{
    display: flex;
    justify-content: flex-end;
    margin-right: 140px;
    margin-top: 20px;
    color: sandybrown;
    text-decoration: none;
}
footer{
    background-color: #0A0826;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-sty{
    margin-right: 10px;
    font-size: 25px;
}

@media only screen and (max-width:412px) {
    body{
        width: 100%;
    }
    .First-sec{
        flex-direction: column;
        width: 100%;

    }
    .Second-sec{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .Third-sec .items{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    
}

@media only screen and (min-width:412px) and (max-width:820px){
    body{
        width: 100%;
    }
    .First-sec{
        flex-direction: column;
        width: 100%;

    }
    .Second-sec{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .Third-sec .items{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    
}